html,
body {
  margin: 0;
  padding: 0;
}

#es-garnier.es-garnier {
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  overflow: hidden;
  max-width: 992px;
  margin: auto;
}
#es-garnier.es-garnier * {
  box-sizing: border-box;
}
#es-garnier.es-garnier img {
  display: block;
  max-width: 100%;
}
#es-garnier.es-garnier p {
  margin: 0;
  padding: 0;
}
#es-garnier.es-garnier sup {
  font-size: 0.6em;
}
#es-garnier.es-garnier .es-title {
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  text-wrap: balance;
  padding-block: 32px;
}
#es-garnier.es-garnier .es-line {
  height: 10px;
  background-color: #D9ECCA;
  position: relative;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-line--3:after {
    content: "";
    position: absolute;
    top: -71%;
    right: -16%;
    z-index: -1;
    width: 150px;
    height: 150px;
    border: 2px dashed #8168AB;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-line--3:after {
    right: -9%;
  }
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv {
    display: flex;
    position: relative;
  }
  #es-garnier.es-garnier .es-kv .es-title {
    font-size: 20px;
    text-align: left;
    padding-left: 26px;
    padding-top: 16px;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv .es-title {
    font-size: 32px;
  }
}
#es-garnier.es-garnier .es-kv__left--photoCtn {
  margin-top: -32px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__left--photoCtn {
    position: absolute;
    bottom: 0;
    width: 70%;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv__left--photoCtn {
    left: 15px;
  }
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__left {
    width: 57%;
  }
}
#es-garnier.es-garnier .es-kv__right {
  background-color: #D9ECCA;
  margin: 16px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__right {
    width: 43%;
    position: relative;
    aspect-ratio: 1/1;
  }
}
#es-garnier.es-garnier .es-kv .es-line {
  margin-block: 16px;
}
#es-garnier.es-garnier .es-kv .es-line--2:after {
  content: "";
  position: absolute;
  top: -71%;
  right: -16%;
  z-index: -1;
  width: 150px;
  height: 150px;
  border: 2px dashed #8168AB;
  border-radius: 50%;
  transform: translateY(-50%);
  left: -103px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv .es-line--2 {
    display: none;
  }
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv .es-line--1 {
    transform: rotate(180deg);
    height: 100%;
    width: 15px;
    margin-top: 0px;
    position: absolute;
  }
}
#es-garnier.es-garnier .es-kv__branding {
  position: relative;
}
#es-garnier.es-garnier .es-kv__logoCtn {
  width: 60%;
  margin-left: auto;
  margin-right: 0;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__logoCtn {
    width: 50%;
    max-width: 140px;
    margin-right: 5%;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv__logoCtn {
    max-width: 111px;
    margin-right: 4%;
  }
}
#es-garnier.es-garnier .es-kv__textCtn {
  max-width: 350px;
  margin-top: -62px;
  margin-inline: auto;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__textCtn {
    margin-top: -41px;
    margin-right: -17px;
    max-width: 250px;
  }
}
@media (min-width: 730px) {
  #es-garnier.es-garnier .es-kv__textCtn {
    margin-top: -45px;
    margin-right: 1px;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv__textCtn {
    max-width: 243px;
    margin-top: -37px;
  }
}
#es-garnier.es-garnier .es-kv__text {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
  background-image: url("../images/gradient.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__text {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv__text {
    font-size: 22px;
    margin-left: 36px;
    text-align: right;
    margin-right: 4px;
  }
}
#es-garnier.es-garnier .es-kv__text span {
  font-weight: 300;
  display: block;
  font-size: 30px;
  font-style: italic;
  text-align: left;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__text span {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv__text span {
    font-size: 18px;
    font-weight: 400;
  }
}
#es-garnier.es-garnier .es-kv__packsCtn {
  position: relative;
  z-index: 1;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__packsCtn {
    position: absolute;
    bottom: -16%;
    left: -2%;
    width: 74%;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv__packsCtn {
    bottom: -10%;
    left: -26%;
    width: 94%;
  }
}
#es-garnier.es-garnier .es-kv__packs {
  transition: all 200ms ease-in-out;
}
#es-garnier.es-garnier .es-kv__packs:hover {
  scale: 1.05;
}
#es-garnier.es-garnier .es-kv__pill {
  position: absolute;
  transform: translateX(50%);
  top: 6%;
  right: 20%;
  z-index: -1;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-kv__pill {
    bottom: 8%;
    right: 4%;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-kv__pill {
    max-width: 237px;
    top: 26%;
  }
}
#es-garnier.es-garnier .es-results .es-title {
  background-color: #D9ECCA;
}
#es-garnier.es-garnier .es-results__BA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  gap: 8px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-results__BA {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-results__BA {
    padding: 48px 32px;
  }
}
#es-garnier.es-garnier .es-results__figure {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin: 0;
}
#es-garnier.es-garnier .es-results__imgCtn {
  overflow: hidden;
  max-width: 350px;
  aspect-ratio: 1/1;
  margin: auto;
}
#es-garnier.es-garnier .es-results__imgCtn img {
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 200ms ease-in-out;
}
#es-garnier.es-garnier .es-results__imgCtn img:hover {
  scale: 1.1;
}
#es-garnier.es-garnier .es-results__BA--text {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  font-style: italic;
  font-weight: 800;
  font-size: 16px;
}
#es-garnier.es-garnier .es-results__text {
  text-align: center;
  text-wrap: balance;
  margin-block: 16px;
  font-size: 18px;
  line-height: 1;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-results {
    margin-top: 16px;
  }
}
#es-garnier.es-garnier .es-features {
  background-color: #D9ECCA;
  margin-block: 8px;
  padding: 32px 16px;
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features {
    padding: 48px 32px;
  }
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__top {
    display: flex;
  }
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__header {
    max-width: 47%;
  }
}
#es-garnier.es-garnier .es-features__title {
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  text-wrap: balance;
  font-size: 24px;
  line-height: 1.3;
  color: #8168AB;
}
#es-garnier.es-garnier .es-features__text {
  line-height: 1.4;
  text-wrap: balance;
  padding-block: 16px;
}
#es-garnier.es-garnier .es-features__span {
  font-weight: 800;
}
#es-garnier.es-garnier .es-features__imgCtn {
  position: relative;
  max-width: 250px;
  margin: auto;
}
#es-garnier.es-garnier .es-features__imgCtn img {
  transition: all 200ms ease-in-out;
}
#es-garnier.es-garnier .es-features__imgCtn img:hover {
  scale: 1.1;
}
#es-garnier.es-garnier .es-features__BA {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  font-size: 16px;
}
#es-garnier.es-garnier .es-features__funky {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1.5;
  font-weight: 800;
  margin-block: 32px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__funky {
    display: flex;
    flex-flow: row-reverse;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features__funky {
    font-size: 20px;
    justify-content: space-between;
  }
}
#es-garnier.es-garnier .es-features__3 {
  max-width: 250px;
  margin: auto;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__3 {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features__3 {
    margin: unset;
    position: relative;
    margin-top: -58px;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features__arrowCtn {
    position: absolute;
    top: -24%;
    right: -68%;
  }
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__4 {
    max-width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features__4 {
    position: relative;
    width: 50%;
  }
  #es-garnier.es-garnier .es-features__4:before {
    content: "";
    height: 215px;
    width: 80px;
    background-image: url("../images/bracket.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 4%;
    left: -21%;
  }
}
#es-garnier.es-garnier .es-features__light {
  font-weight: 400;
}
#es-garnier.es-garnier .es-features__plus {
  font-size: 60px;
  color: #8168AB;
}
#es-garnier.es-garnier .es-features__arrow {
  margin: auto;
  max-height: 200px;
}
@media (min-width: 576px) and (max-width: 767px) {
  #es-garnier.es-garnier .es-features__arrow {
    max-height: 150px;
    margin-top: -66%;
  }
}
#es-garnier.es-garnier .es-features__percent {
  color: #8168AB;
  font-size: 40px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__percent {
    font-size: 32px;
  }
}
#es-garnier.es-garnier .es-features__square {
  aspect-ratio: 1/1;
  background-color: #FFF;
  position: relative;
  max-width: 300px;
  z-index: 1;
}
#es-garnier.es-garnier .es-features__square img {
  transition: all 200ms ease-in-out;
}
#es-garnier.es-garnier .es-features__square img:hover {
  scale: 1.1;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__square {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features__square {
    width: 200px;
    height: 200px;
  }
  #es-garnier.es-garnier .es-features__square img:hover {
    scale: 1.5;
  }
}
#es-garnier.es-garnier .es-features__square:after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 25%;
  z-index: 2;
  width: 75px;
  height: 150px;
  border: 2px dashed #8168AB;
  border-radius: 99px 0 0 99px;
  transform: translateY(100%);
}
@media (min-width: 576px) and (max-width: 767px) {
  #es-garnier.es-garnier .es-features__square:after {
    width: 50px;
    height: 100px;
    bottom: 25%;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features__square:after {
    width: 80px;
    height: 160px;
    bottom: 35%;
    left: 8%;
  }
}
#es-garnier.es-garnier .es-features__pill {
  position: absolute;
  top: 20%;
  left: 18%;
  z-index: 3;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-features__pill {
    top: 50%;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-features__pill {
    scale: 1.3;
    top: 40%;
    left: 9%;
  }
  #es-garnier.es-garnier .es-features__pill img :hover {
    scale: 1.5 !important;
  }
}
#es-garnier.es-garnier .es-use {
  padding-inline: 16px;
  padding-block: 32px;
}
#es-garnier.es-garnier .es-use__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-block: 24px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-use__steps {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-use__steps {
    justify-content: center;
  }
}
#es-garnier.es-garnier .es-use__single {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-use__single {
    flex-basis: 50%;
    max-width: 49%;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-use__single {
    flex-basis: 25%;
    max-width: 220px;
  }
}
#es-garnier.es-garnier .es-use__img {
  position: relative;
  max-width: 300px;
  margin: auto;
}
#es-garnier.es-garnier .es-use__img:hover .es-use__img--product {
  scale: 1.1;
}
#es-garnier.es-garnier .es-use__img--product {
  width: auto;
  max-height: 200px;
  position: absolute;
  bottom: -3%;
  right: 1%;
  transition: all 200ms ease-in-out;
}
#es-garnier.es-garnier .es-use__img--product3 {
  max-width: 150px;
}
#es-garnier.es-garnier .es-use__text {
  text-wrap: balance;
  font-size: 16px;
  line-height: 1.4;
}
#es-garnier.es-garnier .es-use__text--bold {
  font-weight: 700;
}
#es-garnier.es-garnier .es-banner {
  background-color: #e1ebea;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-banner {
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-banner {
    height: 400px;
    padding: 32px 64px;
    position: relative;
  }
  #es-garnier.es-garnier .es-banner:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 75px;
    background-color: #D9ECCA;
    top: -30px;
    left: 98px;
    z-index: -1;
  }
  #es-garnier.es-garnier .es-banner:after {
    content: "";
    position: absolute;
    top: -71%;
    right: -16%;
    z-index: -1;
    width: 150px;
    height: 150px;
    border: 2px dashed #8168AB;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 3%;
    left: 0;
    z-index: -2;
    width: 175px;
    height: 175px;
  }
}
#es-garnier.es-garnier .es-banner__packs {
  position: relative;
}
#es-garnier.es-garnier .es-banner__packs:before {
  position: absolute;
  left: 8%;
  top: 0%;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../images/badge.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-banner__packs {
    display: none;
  }
}
#es-garnier.es-garnier .es-banner__brand {
  padding-block: 32px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-banner__brand {
    padding-block: unset;
  }
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-banner__brand {
    height: 400px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 13%;
  }
}
#es-garnier.es-garnier .es-banner__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
  border: 4px solid #f0f7e6;
  box-shadow: inset 0 0 1.3rem #d0ecb6, 0 0 1.3rem #d0ecb6;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-banner__box {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 32px;
    max-width: 50%;
    margin-left: auto;
  }
}
#es-garnier.es-garnier .es-banner__new {
  font-style: italic;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  background-image: url("../images/gradient.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-banner__new {
    font-size: 24px;
  }
}
#es-garnier.es-garnier .es-banner__img {
  max-width: 300px;
  margin-block: -24px;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-banner__img {
    max-width: 200px;
    margin-top: -16px;
  }
}
#es-garnier.es-garnier .es-banner__text {
  font-style: italic;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  color: #8168AB;
}
@media (min-width: 576px) {
  #es-garnier.es-garnier .es-banner__text {
    font-size: 32px;
    position: relative;
    max-width: 200px;
  }
  #es-garnier.es-garnier .es-banner__text:before {
    position: absolute;
    right: -32px;
    top: -10px;
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../images/badge.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
#es-garnier.es-garnier .es-footer {
  padding-inline: 16px;
  padding-block: 32px;
}
#es-garnier.es-garnier .es-footer__text {
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  text-wrap: balance;
  font-size: 13px;
  line-height: 18px;
  margin-block: 16px;
}
#es-garnier.es-garnier .es-footer__img {
  margin: 0 auto;
  max-width: 150px;
}
@media (min-width: 768px) {
  #es-garnier.es-garnier .es-footer__img {
    margin-inline: auto;
  }
}
#es-garnier.es-garnier .es-footer__logo {
  margin-block: 24px;
}
#es-garnier.es-garnier .es-footer__wrapper {
  background: linear-gradient(to right, #30663f, #167535, #30663f);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 19px 16px;
  align-items: center;
  justify-content: space-evenly;
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#es-garnier.es-garnier .es-slide-in-fwd-center {
  animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#es-garnier.es-garnier .es-scale-in-center {
  animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}/*# sourceMappingURL=styles.css.map */