html,
body {
    margin: 0;
    padding: 0;
}

$ff-main: "Montserrat", Tahoma, Verdana, sans-serif;
$color-main: #D9ECCA;
$color-accent: #8168AB;

#es-garnier.es-garnier {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    img {
        display: block;
        max-width: 100%;
    }

    p {
        margin: 0;
        padding: 0;
    }

    font-family: $ff-main;
}

#es-garnier.es-garnier .es-footer {
    padding: 0;
    padding-top: 48px;
    position: relative;
    z-index: 0;
}

#es-garnier.es-garnier .es-footer__disclaimer {
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
    margin-bottom: 32px;
    font-size: 12px;
}

#es-garnier.es-garnier .es-footer__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#es-garnier.es-garnier .es-footer__logo {
    margin-bottom: 16px;
}

#es-garnier.es-garnier .es-footer__wrapper {
    background: -webkit-gradient(linear, left top, right top, from(#30663f), color-stop(#167535), to(#30663f));
    background: linear-gradient(to right, #30663f, #167535, #30663f);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
    padding: 19px 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
    #es-garnier.es-garnier .es-footer__img {
        margin-left: auto;
        margin-right: auto;
    }
}